.about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}
footer{
    position:fixed;
    }
.about-text {
    max-width: 50%;
    padding: 20px;
    animation: fadeInLeft 1s ease-in-out;
}

.about-image {
    max-width: 50%;
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUp 1s ease-in-out;
  }

  .profile-card {
    width: 250px;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: block;
  }

  .profile-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
  }

  .profile-job {
    font-size: 16px;
    color: #777;
    text-align: center;
  }
  .container-text{
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 1s ease-in-out;
  }
  @keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }


